html,body {width:100%;height:100%;-webkit-text-size-adjust:none;-webkit-font-smoothing: antialiased;}
body{overflow-x:hidden;}

$header-z-index: 999;
$sitemap-z-index: 1000;

@include media-breakpoint-down(md) {
    #fp-nav.right{
        top: auto;bottom: 30px;right: 15px;
    }
}

.wrap{width: 100%;}

.header{
    position:fixed;top:0;left:0;z-index: $header-z-index;width:100%;;-webkit-transition:all .4s;transition:all .4s;background:#fff;

    .header-top{
        position: relative;border-bottom: 1px solid rgba(255, 255, 255, 0.2);background: #fff;
        body:not(.body-main) &{border-bottom: 0;}
        @include media-breakpoint-down(md) {
            min-width: 0;height: 60px;
        }
    }
    .logo{
        position: absolute;left: 40px;top: 50%;transform: translateY(-50%);font-size: 1.5rem;color: #fff;
        .icon-logo{display:block;background-image: url('../images/logo.svg');width: 222px;height: 37px;background-size: contain;}
    }
    @include media-breakpoint-down(md) {
        .logo{
            left: 50%;font-size: 1.25rem;transform: translate(-50%,-50%);
            .icon-logo{width: 160px;height: 27px;}
        }
    }
}

.gnb{
    width: 100%;height: 84px;
    > ul{
        height: 100%;display: flex;align-items: center;justify-content: flex-end;margin-right: 20px;
        > li{
            height: 100%;
            > a{
                height: 100%;font-size:20px;color:#000;display: flex;align-items: center;padding: 0 25px;position: relative;font-weight: 700;
                &::before{content: '';display: block;width: 0;height: 3px;background: $primary;position: absolute;bottom: -1px;left: 0;z-index: 1;transition: all .15s ease-in-out;}
                &::after{content: '';display: block;width: 0;height: 3px;background: $primary;position: absolute;bottom: -1px;right: 0;z-index: 1;transition: all .15s ease-in-out;}
            }
        }
        > li.active{
            > a::before,
            > a::after{width: 50%;}
        }
    }
    @include media-breakpoint-down(md) {
        height: auto;position: absolute;left: 0;top: 70px;
        > ul{
            margin: 0;justify-content: space-around;
            > li{
                > a{font-size: 14px;padding: 0 0 5px;letter-spacing: -0.025em;}
            }
        }
    }
    body.fp-viewing-section2 &{
        li:nth-child(1){
            > a::before,
            > a::after{width: 50%;}
        }
    }
    body.fp-viewing-section3 &{
        li:nth-child(2){
            > a::before,
            > a::after{width: 50%;}
        }
    }
    body.fp-viewing-section4 &{
        li:nth-child(3){
            > a::before,
            > a::after{width: 50%;}
        }
    }
    body.fp-viewing-section5 &{
        li:nth-child(4){
            > a::before,
            > a::after{width: 50%;}
        }
    }
}

html.header-hidden{
    body:not(.body-main){
        .header{transform: translateY(-86px);}
    }
}
html.is-scroll-up {
    body:not(.body-main){
        .header{transform: translateY(0);}
    }
}


.footer{
    text-align: left;background: #fff;position: relative;
    .footer-top{height: 80px;border-top: 1px solid #e5e5e5;
        .container{position: relative;height: 100%;}
    }
    .footer-bottom{border-top: 1px solid #e5e5e5;padding: 38px 0 64px;}
    .footer-menu{
        display: inline-flex;height: 100%;align-items: center;
        li + li{margin-left: 47px;}
        a{color: $dark;}
    }
    .footer-family{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 240px;}
    .footer-logo{flex: 0 0 auto;margin-right: 54px;margin-top: 2px;}
    .footer-info{
        color: $gray;line-height: 1.67;
        > div{display: flex;flex-wrap: wrap;align-items: center;}
        span{
            &::after{content: '';display: inline-block;width: 1px;height: 10px;background: $gray;opacity: .5;margin: 0 10px;vertical-align: middle;transform: translateY(-1px);}
            &:last-child::after{display: none;}
        }
        .copyright{margin-top: 30px;}
    }
    @include media-breakpoint-down(md) {
        .footer-bottom{
            padding: 15px;
            .d-flex{flex-wrap: wrap;}
        }
        .footer-logo{
            margin-bottom: 15px;
            img{width: 85px;margin-top: 10px;}
        }
        .footer-info{font-size: 11px;
            span{
                &::after{margin: 0 6px;}
            }
            .copyright{margin-top: 10px;font-size: 10px;}
        }
    }
}

#container-block{
    margin-top: 85px;
}

.go-top{
    display: block;width: 60px;height: 60px;background: #272a33 url('../images/ic-arr-up-white-28.svg') no-repeat 50% 5px;
    position: fixed;right:-100px;bottom:20px;z-index: 100;transition:right .4s .3s ease-out, background-color .2s;
    html.is-scrolled &{right: 20px;}
    &:hover{background-color: #4b4e53;}
}
